*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #482BE7;
    color: #fff;
    max-height: 100vh;
}
html{
    scroll-behavior: smooth;
}
.header{
    position: relative;
    width: 972px;
    top: 65px;
    left: 213px;
    


}
.navbar{
    /* padding: 1px 7%; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
    z-index: 1000;
}
.navbar>a{
    
   font-size: 24px;
   font-weight: 700;
   color: #FFFFFF;
   text-decoration: none;
}
nav ul{
    float: right;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    position: relative;
}
.active-tab{
    opacity: 30%;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background-color: #1DA1F2;
    position: absolute;
    left: 0;
    bottom: -1px;
}
nav ul li a:hover::after{
    width: 100%;
}
.nav-btn{
    background-color: #E93A7D;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;
    width: 120px;
    height: 40px;
    border-radius: 100px;
    cursor: pointer;
    border: 0px;

}
.hero-section{
    display: flex;
    flex-direction: row;
    margin-top: 65px;
}
.text{
    width: 427px;
    height: 496px;
    /* margin-top: 219px; */
    /* margin-left: 209px; */

}
.text>h2{
    font-size: 58px;
    font-weight: 700;
}
.text>h5{
    width: 363px;
    height: 160px;
    margin-top: 10px;

    font-size: 22px;
    font-weight: 500;
}
.text>button{
    width: 157px;
    height: 50px;
    border-radius: 100px;
    cursor: pointer;
    border: 0;
    background-color: #E93A7D;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 500;

}



.signup{
width: 470px;
height: 600px;

background: #FFFFFF;
color: #1E0E62;
font-weight: 700;
font-family: DM Sans;
font-size: 42px;
text-align: center;
border: 2px;
border-radius: 10px;


}
form{
    display: flex;
    flex-direction: column;
}
input[type=email],input[type=password]{
    width: 330px;
    height: 50px;
    margin-top: 20px;
    border-radius: 100px;
    border: 2px solid #EBEAED;
    color: black;
    justify-content: center;
    padding-left: 24px;
    font-size: 18px;
    font-weight: 500;

}
input[type=checkbox]{
    margin-top: 20px;
    background-color: #1DA1F2;
    cursor: pointer;
}
.checkbox{
    display: flex;
    flex-direction: row;
}
.checkbox>p{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #151439;
    opacity: 40%;
}
form>button{
    margin-top: 20px;
    width: 330px;
    height: 50px;
    border-radius: 100px;
    background-color: #482BE7;
    border: 0px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}
.or{
    margin-top: 20px;
    font-size: 16px;
    font-weight: 400;
    color: #151439;
    opacity: 40%;
    display: flex; 
    flex-direction: row; 
}
  
.or:before, .or:after { 
    content: ""; 
    flex: 1 1; 
    border-bottom: 2px solid #EBEAED; 
    margin: auto; 
} 
.signup-content>button{
    margin-top: 20px;
    width: 330px;
    height: 50px;
    border-radius: 100px;
    background-color: #1DA1F2;
    border: 0px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;

}
.p-tag{
    display: flex;
    flex-direction: row;
    /* align-content: center;
    justify-items: center;
    text-align: center;
    align-items: center; */
}
.p-tag>p{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    color: #151439;
    opacity: 40%;
}
.p-tag>a{
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 5px;
    color: #25DAC5;
    text-decoration: none;

}
.signup-content{
    margin: 60px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    justify-content: center;
}